.nav>li>k {
	position: relative;
	display: block;
	padding: 10px 15px;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	/* color: black; */
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
@font-face {
    font-family: "naguri";
    src: url(../etc/naguri.ttf);
}
.text_style{text-align:center;font-family: naguri;color: brown;    }
.text_style:hover{text-align:center;font-family: naguri;color: black;    }


.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

 .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse {
    background-color: #007D7D;
    border-color: #007D7D;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: rgb(139, 205, 224);
}

.navbar-nav>li>.dropdown-menu {
	/* border-top-right-radius: 10px;
	border-top-left-radius: 10px; */	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

